.container,
#Main,.section,.sectiontwo {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5%;
}
.mainSection {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 5%;
}

body{
  font-family: 'Epilogue', sans-serif;
}