@import "../utils/mixins";
@import "../components/button";
@import "../utils/variables";
@import "../components/contact-button";

.sectionthree {
  padding-bottom: 92px;
  background-color: $bg-color;

  .mainSection {
    display: flex;
    background-color: $primary-color;
    width: 100%;
    border-radius: 6px;

    .left {
      margin: 96px 0 0;
      width: 50%;

      .ContactMeaning {
        // width: 470px;
        height: 66px;
      }
      p {
        margin-top: 28px;
      }
      .load-btn {
        margin: 34px 0 80px;
        .LoadBtn {
          @extend%contact-button;
        }
      }
    }

    .right {
      width: 50%;
      margin: 41px 0 71px 56px;
    }
  }
}
@media only screen and (max-width: 992px) {
  .mainSection {
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;
  }
  .right {
    margin-left: 0 !important;
    @include flexBox();
    img {
      width: 273px;
      height: 264px;
    }
  }
  .left {
    text-align: center;
  }
  #htwo {
    font-size: 40px !important;
    letter-spacing: 0 !important;
  }
  #paragraph {
    width: 273px;
    height: 10px;
    margin: 0;
  }
  .ContactMeaning {
    width: 100px !important;
  }
}
