.footer {
  background-color: $bg-color;

  .container {
    max-width: 1250px;
    .top {
      @include flexBox(space-between, start);
      border-bottom: 1px solid $line-color;
      line-height: 32px;
      padding-bottom: 68px;
      .column1 {
        h4 {
          font-weight: 700;
        }
      }
      ul{
        #li{
          cursor: pointer;

        }
      li {
        color: $text-dark;

      }
    }
      i {
        background-color: $primary-color;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
        padding: 17px;
        color: $color-white;
        gap: 8px;
        transition: all 2s;
        &:hover{
          background-color: $color-white;
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }
    .bottom {
      padding: 50px 0;
      @include flexBox(space-between);
      p {
        color: $text-dark;
      }
      .left {
        .copy {
          opacity: 64%;
          @include flexBox();
        }
      }
      .right {
        @include flexBox();
        gap: 68px;
        cursor: pointer;
       p{
        font-weight: 600;
       }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  footer {
    .container {
      text-align: center;
      width: 100%;
      .top {
       
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 51px;
        .column1{
        text-align: center;
          width: 100%;
        }
        .column2{
          text-align: center;
          width: 100%;
          ul{
            padding: 0;
            
          }
        }
        .column3{
          text-align: center;
          width: 100%;
          ul{
            padding: 0;

          }
        }
        .column4{
          text-align: center;
          width: 100%;
          padding-bottom: 64px;
          
        }
      }
      .bottom {
        flex-direction: column;
        text-align: center;
        gap: 51px;
        .copy {
          flex-direction: column;
        }
      }
    }
  }
}
